@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: black;
}
table {
  width: 100%;
  font-size: medium;
}
/* #home {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* 
#addJobForm {
  border: 2px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

#url {
  display: block;
}

#checkboxAndSubmit {
  display: flex;
  justify-content: space-between;
} */
